<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LeyDHondt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="LeyDHondt.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <applicationSettings>
        <LeyDHondt.Properties.Settings>
            <setting name="BackColor_First" serializeAs="String">
                <value>23, 88, 157</value>
            </setting>
            <setting name="ForeColor_First" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Title" serializeAs="String">
                <value>K5 D'Hondt</value>
            </setting>
            <setting name="Footer" serializeAs="String">
                <value>Uso exclusivo no comercial. Ninguna licencia acreditada por el desarrollador.</value>
            </setting>
        </LeyDHondt.Properties.Settings>
    </applicationSettings>
</configuration>
