<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="K5DHondt.LeyDHondtApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <K5DHondt.LeyDHondtApp.Properties.Settings>
            <setting name="BackColor_First" serializeAs="String">
                <value>23, 88, 157</value>
            </setting>
            <setting name="ForeColor_First" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Title" serializeAs="String">
                <value>K5 D'Hondt</value>
            </setting>
            <setting name="Footer" serializeAs="String">
                <value>Uso exclusivo no comercial. Ninguna licencia acreditada por el desarrollador.</value>
            </setting>
        </K5DHondt.LeyDHondtApp.Properties.Settings>
    </applicationSettings>
</configuration>